<!DOCTYPE html>
<html lang="en">
  <%- include ('header', {title: "UFO Sightings"}) %>
  <body>
    <%- include ('navbar') %>

    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="panel panel-default panel-table">
            <div class="panel-heading">
              <div class="row">
                <div class="col col-xs-6">
                  <h3 class="panel-title">
                    UFO Sightings! So far, we have had <%= visits%>
                    extraterrestrial visits to this page.
                  </h3>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn">
                    <a href="./sighting" class="black">Submit a Sighting</a>
                  </button>
                </div>
              </div>
            </div>
            <div class="panel-body">
              <table
                class="table table-striped table-bordered table-list"
                id="myTable"
              >
                <thead>
                  <tr align="center">
                    <th>Options</th>
                    <th>ID</th>
                    <th>City</th>
                    <th>Summary</th>
                  </tr>
                </thead>
                <% data.sightings.forEach((sight,i) => { %>
                <tbody>
                  <tr align="center">
                    <td>
                      <form action="/sighting/<%=i%>/edit" method="GET">
                        <input
                          type="submit"
                          class="btn btn-primary"
                          value="Edit"
                        />
                      </form>
                      <form
                        action="/sighting/<%=i%>?_method=DELETE"
                        method="POST"
                      >
                        <input
                          type="submit"
                          class="btn btn-danger delete-button"
                          value="Delete"
                        />
                      </form>
                    </td>
                    <td class="hidden-xs">
                      <a href="/sighting/<%=i%>"><%=i+1%> </a>
                    </td>
                    <td><%= sight.city%></td>
                    <td><%= sight.summary%></td>
                  </tr>
                </tbody>
                <% }); %>
              </table>
            </div>
            <div class="panel-footer"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- /container -->
    <script
      type="text/javascript"
      src="//platform.twitter.com/widgets.js"
    ></script>
    <script></script>
  </body>
</html>
